.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay_hidden {
  /* display: none; */
  visibility: hidden;
}

.overlay_hidden .overlay__item{
  transform: translateX(-2000px);
}

.overlay__item {
  width: 300px;
  transform: translateX(0);
  transition: 0.5s;
}