body {
    font-family: 'Montserrat', sans-serif;
    color:#4B0082;
    font-size: 25px;
    text-align: center;
    background-color:#FFFAFA;
}
h1 {
   color: #191970;
}
.wrapper{
    margin: 0 auto;
    margin-top: 4rem;
}
.results{ 
    font-size: 26px;
    width: 400px;
    margin: auto;
    text-align: left;
}