body {
    font-family: 'Montserrat', sans-serif;
    color: #27300f;
    font-size: 30px;
    background-image: url(./img/pinkbg.jpg);
}
.wrapper {
    text-align: center;
    margin: 0 auto;
}
.cat-form{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
.cat-input{
    
    
    border: 1px solid #27300f;
    background-color: transparent;
    border-radius: 4px; 
    outline: none;
    font-family: 'Caveat', cursive;
    font-size: 25px;
    width: 160px;
    height: 30px;
    /* padding: 5px 0 0 25px; */
    margin-right: 20px;
}
.cat-btn{
    opacity: 0.8;
    transition: 0.2s ease;
    cursor: pointer;
    color: #27300f;
    text-align: center;
    font-size: 15px;
    padding: 8px 40px;
    background: #a8709a46;
    border-radius: 6px;
}