body {
    font-family: 'Nothing You Could Do', cursive;
    color: #27300f;
    font-size: 30px;
    background-image: url(./img/softbg.jpg);
}

.wrapper{
    margin: 0 auto;
    text-align: center;
    margin-top: 4rem;
}
.todo-title{
    margin-bottom: 20px;
}
.todo-form{
    text-align: center;
    display: flex;
    justify-content: center;
}
.todo-text{
    border: 1px solid #27300f;
    background-color: transparent;
    border-radius: 4px; 
    outline: none;
    font-family: 'Caveat', cursive;
    font-size: 25px;
    width: 300px;
    height: 35px;
    /* padding: 5px 0 0 25px; */
    margin-right: 20px;
}
.todo-button{
    opacity: 0.8;
    transition: 0.2s ease;
    cursor: pointer;
    color: #27300f;
    text-align: center;
    font-size: 19px;
    padding: 5px 40px;
    border: 1px solid none;
    background: #ec05b246;
    border-radius: 6px;
    box-shadow: inset 0px -3px #3e1150e7; 
}
.todo-button:active {
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1)  
     inset;box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1);  
     border: none;  
}
ol{
    font-family: 'Caveat', cursive;
    font-size: 50px;
    width: 200px; 
    margin: auto;
}